  .mat-toolbar 
  {
    padding: 0 10%;
    align-items: center;
    background-color: #2E1D1E;
    color: whitesmoke;
    height: 40px;
  }
    
 .footer-font
 {
    padding-left: 10px;
    font-size: 12px;
 }


  
 
 