<div fxLayoutAlign = "center center"  fxLayout="row" fxFlexFill>
    <div class="logo" fxLayoutAlign = "center center">
      <img src="../../../assets/imaage/education.svg" alt="logo" style="width: 50px; height: 85px;">
    </div>
      <mat-card fxFlex="35" class="login_card">
        <mat-card class="title-header">Login Form</mat-card>
          <form fxLayoutAlign="stretch" fxLayout="column" [formGroup] = "Login" 
          (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email id" formControlName="emailId">
              </mat-form-field>
              <mat-form-field appearance="outline">
                 <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName = "password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
              <div fxLayout="row" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="40%">
                <button type="submit" mat-button ><a class="right_button_a" routerLink="/register">Register User</a></button>
                <button type="submit" mat-button class="right_button"><a class="right_button_a"  routerLink="/forgotpassword">Forgot Password ?</a></button>
              </div>
              <button mat-raised-button type="submit" class="login_button">Login</button>
            </form>
      </mat-card>
    </div>